
 	body{
			background-color: black;
		}
      table {
        border: 1px solid black;

        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        text-align: center;
        padding: 8px;
        border: 1px solid white;
      }
      th {
        background-color: black;
      }
      /* tr:nth-child(even) {
        background-color: #f2f2f2;
      } */
      .status {
        font-weight: bold;
      }
      .status.returned {
        color: green;
      }
      .status.not-returned {
        color: red;
      }
      .status {
        cursor: pointer;
      }
	  th{
		color: white;
	  }
	  h1{
        margin-left: 20px;
		color: white;
	  }
	  label{
		color: white;
	  }
	  td{
		color: white;
	  }
      label{
        margin-left: 20px;
        margin-right: 15px;
      }
      button{
        width: 28%;
        padding: 5px;
        margin-top: 10px;
        margin-left: 20px;
      }
      #issued-to{
        margin-left: 14px;
      }
      input{
        border: 1px solid white;
        background-color: black;
        padding: 5px;
        width: 20%;
      }
	
   
